body {
	color: white;
	background-color: #282C37;
}

a:link {color: rgb(60%,80%,100%); }
a:visited {color: rgb(70%,60%,80%); }

#placeholder-users a {
	font-size: 120%;
}

ul > li {
	margin-bottom: 0.5em;
}

