# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Commands
distsn-user-speed
distsn-user-speed-api.cgi
distsn-top1000-html.cgi
distsn-user-recommendation-api.cgi
distsn-instance-speed-cron
distsn-instance-speed-history-api.cgi

# Misc
core*
out

